.loginBackground {
  width: 100vw;
  height: 100vh;
  background-image: url("./login_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blurLense{
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(100px);

  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;

  display: flex;
}
.card1{
  width: 35%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.484); */
  background-image: url("./login_background/login_background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card2{
  width: 65%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.937);
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
  
  