.newUserForm{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  .signUpHeading{
    /* border: 2px solid black; */
    width: 85%;
    font-size: 110%;
    text-align: center;
    margin-bottom: 1vh;
  }
  .signUpInput{
    width: 23vw;
    font-size: 100%;
    margin-top: 0.3vh;
    margin-bottom: 0.25vh;
    padding:0.5vh 0.5vw ;
    border-radius: 30px;
    border: none;
  }
  .createButton{
    margin-top: 2vh;
    background-color: rgb(37, 37, 37);
    color: rgb(242, 242, 242);
    border: none;
    border-radius: 30px;
    width: 24vw;
    font-size: 130%;
    padding-bottom: 0.7vh;
  }
  .lineContainer{
    display: flex;
    margin-bottom: 2vh;
  }
  .line{
    margin-top: 1vh;
    height: 0;
    width: 10vw
  }
  .spotifyButton1{
    height: 3vh;
    width: 24vw;
    background-image: url("./spotify-icons-logos/logos/01_RGB/02_PNG/Spotify_Logo_RGB_Green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: rgb(37, 37, 37);
    border-radius: 30px;
    padding: 0.1vh 0vw;
    margin-bottom: 2vh;
    /* border: 2px solid black; */
  }
  .spotifyButton2{
    height: 3vh;
    width: 24vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: rgb(101, 211, 110);
    border-radius: 30px;
    padding-top: 0.3vh;
    margin-bottom: 2vh;
    text-align: center;
    /* border: 2px solid black; */
  }